.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  position: relative;
  height: 200px;
  font-weight: bold;
  color: #c3663f;
  font-weight: 600;
  font-family: var(--title-font);
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  background-color: #3f9065;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.circular-text span {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  font-size: 16px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  color: #c3663f;
  transform-origin: 0 0;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

@media (max-width: 767px) {
  .circular-text {
    width: 160px;
    height: 160px;
  }

  .circular-text span {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .circular-text {
    width: 140px;
    height: 140px;
  }

  .circular-text span {
    font-size: 12px;
  }
}
